body{
    font-family: unset;
    background-color: white; 
}
.menu{
	/*margin-top: 200px;*/
	background-color: #090935;
	color:white;
	padding: 0px;
}
/*header img{
	height: 200px;

}
@media (max-width:576px){
header img{
    height: 100px;

}
}*/
/*header ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #090935;
}

header li, footer li {
    float: left;
}

header li a, footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: 700;
}

header li a:hover, footer li a:hover {
    background-color: #10106387;
    color:white;
    font-weight: bold;
}*/

.half-head{
    font-weight: bolder;
    color: blue;
    font-size: initial;
    text-align: center;
}
.half-sub{
	font-size: 14px;
    text-align: center;
    list-style-position: inside;

}
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
.half {
	margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #3333;
    border-radius: 5px;
    padding: 20px;
}
span.service {
    font-size: 16px;
}
span.price {
    float: right;
    font-size: 13px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 5px;
    padding: 4px;
    color: green;
    /*margin-right: 90px;*/
}
.price span {
    float: right;
    font-size: 13px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 5px;
    padding: 4px;
    color: green;
    /*margin-right: 90px;*/
}
.has-error{
	color: red;
}
label.control-label {
    font-weight: bold;
}
.work {
    padding-left: 20px;
    padding-right: 20px;
}
.form-group.services {
    margin-bottom: 50px;
}
.copyright {
    text-align: center;
}
.footer{
	background-color: #090935;
	color:white;
	padding: 25px;
}
.feature {
    text-align: center;
    padding: 25px;
    font-style: italic;
    font-weight: bold;
    font-size: small;
}
.feature span {
    padding: 25px;
    text-align: center;
}
.terms {
    text-align: center;
}
.terms span {
    padding: 25px;
    text-align: center;
}
.info {
    /*float: left;*/
}
.dates {
    padding: 11px;
    background-color: #e9ecef;
    margin-left: 10px;
    border-radius: 5px;

}
.d {
    display: inline-block;
    margin-top: 20px;
}
.nav-item.active {

    font-weight: bold;

}
.name {

    font-size: 13px;
    font-weight: 600;

}
.name.total {

    font-size: x-large;

}
.value {
    font-weight: 600;
    float: right;
}
.value.total {

    font-size: xx-large;

}
.menu-link{
    font-weight: bold;
}
@media (min-width:992px){
    .menu-link {
   /* margin-left: 70px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;


}
}

.client img {
   /* height: 150px;*/
    /*width: 200px;*/
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #3333;
    border-radius: 5px;
}
.client{
    margin-bottom: 30px;
}
.clients{
    /*background-color:#090935e6;*/
}
.title {
    text-align: center;
    font-weight: bold;

}
.sub-title {
    font-weight: bold;

}
input[type="checkbox"], input[type="radio"] {
    outline: 2px solid green;

}
@media (max-width:576px){
.book{
    width: 100%; 
    font-size: xx-small;
}
}
.paypal img{
    display: block;
}
.bord{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: green;
}

.bord li::before {

    content: "\2022";
    color: red;
    font-weight: bolder;
    display: inline-block;
    margin-right: 1em;
}

.bord li{
list-style: none;
}
.plane-border{
    border-style: solid;
    border-width: 2px;
    border-color: #333333bf;
    border-radius: 5px;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}